.component_text-block {
  padding-top: 0px;
  position: relative;

  .text-translate {
    position: absolute;
    width: 100%;
    //top: 810px;
    top: 374.4px;
    top: 7vw;

    @include mq(medium) {
      //transform: translateZ(-3px) scale(4);
      //top: 1600px;
      padding-top: 250px;
    }
    @include mq(x-large) {
      top: 2355px;
    }
  }
  &.contact {
    top: 0px;
    padding-bottom: 0;

    @include mq(medium) {
      top: auto;
    }
  }
  &.first {
    padding-top: 0;
    .text-translate {
      //top: 1030px;
      top: 22px;
      top: 11vw;

      @include mq(medium) {
        top: 820px;
      }
      @include mq(x-large) {
        top: 3215px;
      }
    }
  }
  h2 {
    font-size: 13px;
    text-decoration: underline;
    @include mq(medium) {
      font-size: 45px;
    }
    @include mq(x-large) {
      font-size: 64px;
      color: black;
      text-decoration: underline;
      margin-top: 0;
      margin-bottom: 92px;
    }
  }

  ul {
    margin: 0;
    font-size: 15px;
    //font-size: 4vw;
    line-height: 20px;
    padding-left: 0;
    @include mq(medium) {
      font-size: 33px;
      line-height: 54px;
    }
    @include mq(largeMed) {
      font-size: 60px;
      line-height: 79px;
    }
    @include mq(x-large) {
      font-size: 90px;
      line-height: 105px;
    }

    li {
      list-style: none;
    }
  }
  .content {
    font-size: 20px;
    line-height: 22px;
    @include mq(medium) {
      font-size: 33px;
      line-height: 54px;
    }
    @include mq(largeMed) {
      font-size: 60px;
      line-height: 79px;
    }
    @include mq(x-large) {
      font-size: 83px;
      line-height: 100px;
    }
    .text-smaller {
      font-size: 17px;
      line-height: 20px;
      @include mq(medium) {
        font-size: 25px;
        line-height: 38px;
      }
      @include mq(largeMed) {
        font-size: 40px;
        line-height: 54px;
      }
    }

    p {
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  .social-links {
    margin-top: 40px;
    @include mq(medium) {
      margin-top: 70px;
    }
    @include mq(largeMed) {
      margin-top: 100px;
    }
    @include mq(x-large) {
      margin-top: 117px;
    }
    a {
      display: block;
      text-transform: uppercase;
      color: #00ff95;
      font-size: 22px;
      line-height: 34px;
      @include mq(medium) {
        font-size: 36px;
        line-height: 54px;
      }
      @include mq(largeMed) {
        font-size: 60px;
        line-height: 79px;
      }
      @include mq(x-large) {
        font-size: 83px;
        line-height: 92px;
      }
    }
  }
  .page-overlay & {
    color: white;
    padding-top: 70px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    @include mq(medium) {
      padding-top: 100px;
    }
    @include mq(x-large) {
      padding-top: 122px;
    }
    h2 {
      color: white;
    }
    a {
      color: white;
    }
    &.contact {
      top: 0;
    }
  }
}

@-moz-document url-prefix() {
  .component_text-block {
    .text-translate {
      @include mq(medium) {
        transform: translateZ(-3px) scale(1);
      }
    }
    &.contact {
      @include mq(medium) {
        //top: -1600px;
      }
    }
    &.first {
      .text-translate {
        @include mq(medium) {
          top: 1400px;
        }
        @include mq(x-large) {
          top: 1000px;
        }
      }
    }
  }
}

.no-csstransforms3d {
  .component_text-block {
    transform: none;
    &.first {
      padding-top: 170px;
    }
  }
}
