/*
|--------------------------------------------------------------------------
| Elements / #Links
|--------------------------------------------------------------------------
|
*/

/**
 * Our basic `<a>` elements only need very minimal styling.
 * Anything more opinionated (e.g. buttons, calls-to-action, etc.) will need a
 * class defining in the Components layer.
 */
a {
    color: color(brand-primary);
    text-decoration: none;
    cursor: pointer;

    @include hocus() {
        text-decoration: underline;
    }
}
