/*
|--------------------------------------------------------------------------
| Elements / #Typography
|--------------------------------------------------------------------------
|
*/
@font-face {
    font-family: 'artegra_sans_extendedbold';
    src: url('/assets//fonts/artegra_-_artegra_sans_ex_bold-webfont.woff2') format('woff2'),
         url('/assets//fonts/artegra_-_artegra_sans_ex_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
  /* Headings
   =========================================== */

/**
 * Force all headings to have the exact same *default* styling. This means we
 * are free to use the correct semantic element without having opinionated look-
 * and-feel attached to it. Provide all cosmetics for specific visual use cases
 * via heading classes (i.e. `.c-heading-*`).
 *
 * http://csswizardry.com/2016/02/managing-typography-on-large-apps/
 */
h1, h2, h3, h4, h5, h6 {
    // @include font(text-body);
    font-family: 'artegra_sans_extendedbold';
}

/* Text-level elements
   =========================================== */

/**
 * As above, leave SMALL as a purely semantic choice, and omit any cosmetics.
 */
small {
    font: inherit;
}
