html {
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  webkit-font-smoothing: antialiased;
  font-family: "artegra_sans_extendedbold";
  padding-top: 30px;

  @media (min-width: 739px) {
    overflow: hidden;
  }
  @include mq(medium) {
    padding: 42px;
  }
  @include mq(large) {
    padding: 45px;
  }
}
::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}

//Border
.borders {
  position: fixed;
  z-index: 1002;
  * {
    background: black;
    position: fixed;
    z-index: 100;
  }
  a {
    visibility: hidden;
  }
  .top {
    transition: 0.5s;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    @include mq(medium) {
      height: 42px;
    }
    @include mq(largeMed) {
      height: 45px;
    }
  }
  .bottom {
    @include mq(medium) {
      height: 42px;
      left: 0;
      bottom: 0;
      width: 100%;
    }
    @include mq(largeMed) {
      height: 45px;
    }
  }
  .left {
    @include mq(medium) {
      width: 42px;
      height: 100%;
      left: 0;
      top: 0;
    }
    @include mq(largeMed) {
      width: 45px;
    }
  }
  .right {
    @include mq(medium) {
      width: 42px;
      height: 100%;
      right: 0;
      top: 0;
    }
    @include mq(largeMed) {
      width: 45px;
    }
  }
}

//Border Links
.menu-link {
  font-size: 20px;
  line-height: 20px;
  width: 45px;
  color: white;
  &:hover,
  &:focus {
    color: #00ff95;
    text-decoration: none;
  }
  &:active,
  &:focus {
    color: white;
  }
  .open & {
    color: #00ff95;
  }
}

#about {
  text-transform: uppercase;
  @include mq(medium) {
    top: 220px;
    left: 0;
    z-index: 1001;
    transform: rotate(-90deg);
  }
}
#contact {
  text-transform: uppercase;
  @include mq(medium) {
    top: 248px;
    right: 0;
    z-index: 1001;
    transform: rotate(-90deg);
  }
}
.brand {
  color: #00ff95 !important;
}
//Menu Animations
.left {
  &.open {
    #about {
      -webkit-animation: ease-out left alternate forwards 700ms;
    }
  }
  &.closed {
    #about {
      right: auto;
      -webkit-animation: ease-out leftClosed alternate forwards 700ms;
    }
  }
}
.right {
  &.open {
    #contact {
      -webkit-animation: ease-out right alternate forwards 700ms;
    }
  }
  &.closed {
    #contact {
      left: auto;
      -webkit-animation: ease-out rightClosed alternate forwards 700ms;
    }
  }
}

//Main Content Area
main {
  margin: 0 auto;
  .parallax {
    margin: 0 auto;
    @include mq(large) {
      //width: 980px;
    }
    @include mq(x-large) {
      //width: 1920px;
    }
  }
}

//Components
.component {
  margin: auto;
  padding-top: 300px;
}
