header {
	position: fixed;
	width:100%;
	z-index: 1005;
	height: 30px;
  @include mq(medium) {
		height: 42px;
	}
  @include mq(largeMed) {
		height: 45px;
	}
	top: 0;
	left: 0;
	a {
		display: block;
	}
	#logo {
		position: relative;
		margin: 0 auto;
	  top: 50%;
	  width: 75%;
	  transform: translateY(-50%);
	}
	svg {
		display: block;
		margin: 0 auto;
		width: 144px;
    height: auto;
	  @include mq(x-large) {
			width: 200px;
		}
		@media screen and (max-height:1000px) {
			width: 144px;
		}
	}
}


nav {
	transition: all .5s cubic-bezier(.72,.16,.345,.875);
  @include mq(medium) {
		display: none;
	}
  .hamburger {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
    .lines {
      width: 25px;
      background-color: #FFFFFF;
      height: 3px;
      top: 4px;
      position: absolute;
      transition: 0.5s all;
      &:before {
        content: " ";
        width: 25px;
        background-color: #FFFFFF;
        height: 3px;
        position: absolute;
        top: -7px;
        transition: 0.5s all;
      }
      &:after {
        content: " ";
        width: 25px;
        background-color: #FFFFFF;
        height: 3px;
        position: absolute;
        top: 7px;
        transition: 0.5s all;
      }
    }
    &:hover {
      .lines {
        background-color: #00ff95;
        &:before {
          background-color: #00ff95;
        }
        &:after {
          background-color: #00ff95;
        }
      }
    }
  }
  &.open {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    background: black;
    right: 0;
    .hamburger {
	    .lines {
	      background-color: #000;
	      &:before {
	        background-color: #00ff95;
	        transform: rotateZ(-45deg) translateX(-4px) translateY(5px);
	      }
	      &:after {
	        background-color: #00ff95;
	        transform: rotateZ(45deg) translateX(-5px) translateY(-6px);
	      }
	    }
    }
  }
  ul {
	  display: none;
	  visibility: hidden;
	  opacity: 0;
    transition: 0.8s all;
    margin-top: 30%;
	  li {
		  list-style: none;
		  color: white;
		  margin-top: 5px;
		  a {
			  position: static;
			  color: white;
			  &:hover {
				  color: #00ff95;
			  }
		  }
	  }
  }
  &.open {
	  ul {
		  display: block;
		  visibility: visible;
		  opacity: 1;
	    transition: 0.8s all;
    }
  }

}
