//Ajax Container
.page-overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	height: 100vh;
	z-index: 1000;
	overflow: auto;
	background-color: transparent;
	@include mq(medium) {
		height: calc(100% - 42px);
	}
  .close {
	  margin: 110px auto 0 auto;
	  cursor: pointer;
	  max-width: 38px;
	  height: 38px;
    @include mq(medium) {
		  max-width: 45px;
		  height: 45px;
	  }
    @include mq(largeMed) {
		  max-width: 75px;
		  height: 75px;
			margin-top: 165px;
		}
    @include mq(x-large) {
		  margin-top: 255px;
		}
	  svg {
		  width: 100%;
		  display: none;
	  }
  }
	&_slider {
		left: 0;
    top: 0;
    background-color: black;
    
    &-left {
	  	right:0;
	  	left: auto;  
    }
	}
	&.reveal {
		position:absolute;
		.close {
			svg {
				display: block;
			}
		  width: 75px;
		  height: 75px;
		}
		&-left {
			left:0;
			right: auto;
			-webkit-animation:ease-out slideLeft alternate forwards 700ms;
		}
		&-right {
			right: 0;
			left: auto;
			-webkit-animation:ease-out slideRight alternate forwards 700ms;
		}
		&-right-undo {
			right: 0;
			-webkit-animation:ease-out slideRightUndo alternate forwards 700ms;
		}
		&-left-undo {
			left: 0;
			-webkit-animation:ease-out slideLeftUndo alternate forwards 700ms;
		}
		&-both {
			left: 0;
			right: 0;
			* {
				-webkit-animation:ease-out fade alternate forwards 300ms;
			}
		}
  }
  &.mobile-reveal {
		position:absolute;
		top:0;
		bottom: 0;
		left: 0;
		right: 0;
		.close {
			svg {
				display: block;
			}
		}
  }
}


#article-content {
	opacity: 0;
	&.transition { 
		opacity: 1;
		animation: 
			fadeOut
			500ms
			ease-out
			0s
			normal
			1
			forwards;
	}
	&.loaded {
		animation: 
			fade
			500ms
			ease-out
			700ms
			normal
			1
			forwards;
	}
}


@keyframes fade {
  0% { opacity: 0 }
  100% { opacity: 1 }
}
@keyframes fadeOut {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
@-webkit-keyframes right {
  0% { right: 0;}
  100%{ right : calc(100% - 90px); }
}
@-webkit-keyframes rightClosed {
  0% { right : calc(100% - 90px); }
  100%{ right : 0; }
}
@-webkit-keyframes left {
  0% { left: 0; }
  100%{ left : calc(100% - 90px);}
}
@-webkit-keyframes leftClosed {
  0% { left: calc(100% - 90px); }
  100%{ left : 0; }
}
@-webkit-keyframes slideLeft {
  0% { right: 100%; }
  100%{ right : 0; }
  @include mq(largeMed) {
	  0% { right: 100%; }
	  100%{ right : 0; }
	}
}
@-webkit-keyframes slideLeftUndo {
  0% { right: 42px; }
  100%{ right : calc(100% - 42px); }
  @include mq(largeMed) {
	  0% { right: 45px; }
	  100%{ right : calc(100% - 45px); }
	}
}
@-webkit-keyframes slideRight {
  0% { left: 100%; }
  100%{ left : 0; }
  @include mq(largeMed) {
	  0% { left: 100%; }
	  100%{ left : 0; }
  }
}
@-webkit-keyframes slideRightUndo {
  0% { left: 42px; }
  100%{ left : calc(100% - 42px); }
  @include mq(largeMed) {
	  0% { left: 45px; }
	  100%{ left : calc(100% - 45px); }
  }
}
