.parallax {
  text-align: center;
  font-size: 40px;
  opacity: 0;
  transition: opacity ease-out 0.6s;
  overflow-x: hidden;

  	@media(min-width: 739px) {
		height: calc(100vh - 30px);
		overflow-y: scroll;
	}
  
  &::-webkit-scrollbar { 
    display: none; // Safari and Chrome
	}
  @include mq(medium) {
	  height: calc(100vh - 84px);
	}
  @include mq(x-large) {
	  height: calc(100vh - 90px);
	}
  
  img {max-width: 100%; width: auto;}
  video{ width: 100%; height: auto;}
  
	&.in {
		opacity: 1;
	}
	&-text-container {
		position: relative;
		z-index: 10;
		max-width: 980px;
		margin: 0 auto;
		top: 6670px;

		ul {
			position: absolute;
			width: 100%;
			margin: 0;
			li {
				list-style: none;
				height: calc(380vh);
				color: #2AFD99;
				line-height: 80px;
				text-align: left;
				font-size: 82px;
				letter-spacing: 2px;
				position: relative;
			}
		}
  	}
	&__group {
		position: relative;
		max-width: 100%;
		margin: 0 auto;
		
		@media(max-width: 739px) {
			margin-top: -42vw;
		}

		&:first-of-type {
			@media(max-width: 739px) {
				margin-top: 0;
			}
		}

    @include mq(medium) {
			max-width: 585px;
	  }
    @include mq(largeMed) {
	    max-width: 990px;
    }
    @include mq(large) {
	    max-width: 1180px;
	  }
    @include mq(x-large) {
	    max-width: 1920px;
	  }

	}
	&__layer {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		color: #CE1719;
		margin: auto;
		background: rgba(0,0,0,0.05);


    &.load {
	    background: transparent;
		  transition: background-color 0.5s ease;
    }
    * {opacity: 0;}
    &.section-title {
	    background: transparent;
	    opacity: 0;
	    max-width: 1510px;
	    svg {
		    width: 100%;
			height: auto;
			display: block;
	    }
	    &.load {
		    opacity: 1;
	    }
    }
    &.load {
	    background: transparent;
	    * {
			opacity: 1;
			animation: fadeIn ease 300ms;
			-webkit-animation: fadeIn ease 300ms;
			-moz-animation: fadeIn ease 300ms;
			-o-animation: fadeIn ease 300ms;
			-ms-animation: fadeIn ease 300ms;
	    }
    }
    
    &.section-title {
	    text-align: center;
		  	left: 0;
		  	right: 0;
		  	color: black;
		  	font-size: 75px;
	    letter-spacing: 28px;
			position: absolute;
			max-width: 90%;
			text-transform: uppercase;
			z-index: 100;
	    @include mq(medium) {
				max-width: 970px;
		  }
	    @include mq(x-large) {
			  	font-size: 170px;
			  	max-width: 1503px;
			  	width: 100%;
		  }
			h2 {
				margin: 0;
			}
			svg {
				-webkit-backface-visibility: hidden;
			}
    }
    &.parallaxCenterTop {
	    // width: 71.104167%;
	    // left: 0;
	    // right: 0;
		// z-index: 75;
		width: calc(189.17 / 320 * 100%);
		right: calc(35.1 / 320 * 100%);
		margin: 0;
		left: auto;
		z-index: 11;

	    @include mq(medium) {
			width: 50.1041666666667%; /*962/1920*/
			left: 0;
			right: 0;
			margin: auto;
	    }
    }
    &.parallaxLeftTop {
		  	right: auto;
		  	left: 0;
	    position: absolute;
	    z-index: 50;
	    width: 45.947917%;
	    @include mq(medium) {
		    width: 29.9479166666667%; /*575/1920*/
		  }
	  }
    &.parallaxRight {
	    text-align: right;
		  	left: 0;
		  	right: 0;
		  	z-index: 5;
	    position: absolute;
	    width: 43.02%;
	    @include mq(medium) {
		    left: auto;
		    width: 30.02%; /*582/1920*/
		  }
	  }
	  &.parallaxLeftMid {
	    right: auto;
	    width: 39.8%; /*770/1920*/
	    left: 0;
	  }
    &.parallaxLeftDeep {
		right: auto;
		left: 0;
		width: calc(247.79 / 420 * 100%);
	    // width: 58.104167%;
		// left: -560px;
		
		@media (min-width: 421px) and (max-width: 739px) {
			width: calc(150.65 / 320 * 100%);
		}
		@include mq(medium) {
			width: 40.1041666666667%; /*770/1920*/
			left: -875px;
		}
		@include mq(largeMed) {
			left: calc(-675px * 5);
	    }
	}
	  &.parallaxDeep {
	    right: 0;
	    left: 0;
	    width: 100%;
		@include mq(medium) {
		    width: 70.0520833333333%; /*1345/1920*/
			right: 0;
			left: 0;	
		}
	  }
	  
	  &.blob {
			-webkit-animation: blurHue 3s infinite;
			
			@-webkit-keyframes blurHue {
			  0%, 100%  { -webkit-filter: blur(0px); -webkit-filter: hue-rotate(0deg); }
			  50% { -webkit-filter: blur(10px);  -webkit-filter: hue-rotate(180deg); }
			}
			
		  
		  &-first {
			// right: -34%;
			// left: auto; 
			// top: 210px;
			// width: 82.604167%;
			// top: 240px;
			// z-index: 10;
			top: 60px;
			top: 18.7vw;
    		z-index: 10;
			width: calc(265.02 / 420 * 100%);
			right: -25px;
			right: -7.8125vw;
			left: auto;

			@media (min-width: 421px) and (max-width: 739px) {
				width: calc(190 / 320 * 100%);
			}
			   
		   	@include mq(medium) {
			   	right: -24%;
				width: 52.6041666666667%; /*1010/1920*/
			   	top: 20px;
		   	}
		    @include mq(largeMed) {
				top: 60px;
			}
		    @include mq(x-large) {
				top: 240px;
			}
		  }
	  }
	}
	//Section One
  .section-one {
	  	//top: 50px;
		top: 25px;
		top: 5.81vw;

    	@include mq(medium) {
			top: 100px;
	  	}
		@include mq(largeMed) {
			@media (max-height: 850px){
				top: 70px;
			}
		}
    	@include mq(x-large) {
			top: 100px;
	  	}
	  	z-index: 1;
		
		.section-title {
		//top: 370px;
		top: 388px;
		top: 68vw;
		margin-left: 10px;
		z-index: 10;
		width: calc(247 / 320 * 100%);

		@media(max-width: 420px) {
			margin-left: calc(33 / 420 * 100%);
		}

	    @include mq(medium) {
			width: auto;
			margin: auto;
		    max-width: 490px;
			top: 444px;
		}
	    @include mq(largeMed) {
			max-width: 920px;
		}
	    @include mq(x-large) {
			max-width: 1440px;
			top: 1010px;
		}
    }
    .parallaxCenterTop {
	    &:last-of-type {
	    	top: 8170px;
		    @include mq(x-large) {
		    	top: -570px;
		    }
	    }
    }
    .parallaxLeftTop {
		z-index: 4;

		@media(max-width: 420px) {
			width: calc(203 / 420 * 100%);
			left: calc(7 / 420 * 100%);
			top: 107vw;
		}

		@media (min-width: 421px) and (max-width: 739px) {
			top: 295px;
			top: 92.5vw;
			left: calc(26 / 320 * 104%);
			width: calc(63 / 320 * 100%);
		}
		
	    @include mq(medium) {
			left: 0;
			width: 32%;
			top: 1070px;
		}
	    @include mq(largeMed) {
		    top: 640px;
		}
	    @include mq(large) {
	    }
	    @include mq(x-large) {
		    width: 29.9479166666667%; /*575/1920*/
		    top: 1470px;
		  }

	  }
    .parallaxRight {
		//top: 840px;
		top: 246px;
		top: 73vw;

		@media(max-width: 420px) {
			right: 0;
			width: calc(186.96 / 420 * 100%);
			left: auto;
			top: 76vw;
		}

		@media (min-width: 421px) and (max-width: 739px) {
			margin-right: 0;
			width: calc(113.87 / 320 * 100%);
			right: calc(74.89 / 320 * 100%);
		}

		@include mq(medium) {
			top: 520px;
		}
		@include mq(largeMed) {
			top: 520px;
		}
	    @include mq(x-large) {
		    top: 1095px;
	    }
	  }
    .parallaxLeftDeep {
		top: 85px;
		top: 26.5vw;
		left: 0;

		@include mq(medium) {
			top: 190px;
		}
	    @include mq(x-large) {
				top:500px;
			}
	  	}
		.parallaxDeep {
			//top: 520px;
			top: 300px;
			top: 90.6vw;
			margin-right: 0;

			@media(max-width: 420px) {
				width: 100%;
				top: 87.6vw;
			}
	
			@media (min-width: 421px) and (max-width: 739px) {
				width: calc(263.65 / 320 * 100%);
			}

	    	@include mq(medium) {
				top: 620px;
				margin: auto;
			}
	    	@include mq(largeMed) {

	    	}
			@include mq(x-large) {
				top: 1380px;
			}
	  }
		
  }
  
	//Section Two
  .section-two {
	  z-index: 2;
    .section-title {
		top: 909px;
		top: 164.6vw;

		@media(max-width: 420px) {
			margin-left: calc(33 / 420 * 100%);
			top: 180.6vw;
			width: calc(275 / 420 * 100%);
		}
		
		@media (min-width: 421px) and (max-width: 739px) {
			margin-left: 5px;
			width: calc(242 / 320 * 100%);
		}
		
	    @include mq(medium) {
			top: 60rem;
		}
	    @include mq(largeMed) {
			top: 960px;
		}
	    @include mq(x-large) {
			top: 1490px;
		}
    }
    .parallaxCenterTop {
		top: 120px;
		top: 42.9vw;

		@media (max-width: 420px) {
			width: calc(310.95 / 420 * 100%);
			top: 47vw;
		}

	    @include mq(medium) {
			top: -70px;
	    }
	    @include mq(largeMed) {
		    top: -70px;
	    }
	    @include mq(x-large) {
				top: -180px;
	    }
    }
    .parallaxLeftTop {
	    top: 5820px;
    }
    .parallaxRight {
		// top: 250px;
		top: 225px;
		//top: 79.2vw;
		top: 77vw;

		@media(max-width: 420px) {
			width: calc(187.07 / 420 * 100%);
			right: 0;
			top: 86vw;
			margin-right: 0;
		}
		
		@media (min-width: 421px) and (max-width: 739px) {
			width: calc(113.96 / 320 * 100%);
			right: calc(74.8/310 * 100%);
			margin-right: 0;
		}

	    @include mq(largeMed) {
	   		top: 250px;
	    }
	    @include mq(x-large) {
			top: 320px;
		}
	  }
	  .parallaxLeftMid {
			top: 255px;
			top: 85.5vw;
			width: 44.8%;

			@media(max-width: 420px) {
				width: calc(248.96 / 420 * 100%);
    			top: 89.5vw;
			}

			@include mq(medium) {
				top: 240px;
		    	width: 39.8%; /*770/1920*/
		 	}
	    	@include mq(largeMed) {
		  	}
	    	@include mq(large) {
		  	}
	    	@include mq(x-large) {
				top: 320px;
		  	}
	  }
	.parallaxDeep {
		//top: 530px;
		top: 370px;
		top: 121vw;


		@media(max-width: 420px) {
			width: 100%;
			top: 127vw;
		}
		
		@media (min-width: 421px) and (max-width: 739px) {
			width: calc(262.43 / 320 * 100%);
			margin-right: 0;
		}

		@include mq(medium) {
			//width: 100%;
			margin: auto;
		}

		@include mq(largeMed) {
			top: 530px;
		}
		@include mq(x-large) {
			top: 780px;
		}
	}
  }
  
	//Section Three
.section-three {
	z-index: 3;

    .section-title {
	    top: 3790px;
	    @include mq(x-large) {
		    top: calc(800px * 4);
		  }
    }
    .parallaxCenterTop {
		top: 11.75px;
		top: 7.8vw;

		@media (max-width: 420px) {
			width: calc(309.74 / 420 * 100%);
			margin: auto;
			right: 0;
			left: 0;
			top: 22.8vw;
		}

	    @include mq(medium) {
			top: 50px;
		}
		
	    @include mq(x-large) {
			top: 80px;
		}
		
	    &.second {
			top: 493px;
			top: 157.7vw;

			@media(max-width: 420px) {
				z-index: 51;
				top: 206.7vw
			}
			
			@media (min-width: 421px) and (max-width: 739px) {
				z-index: 51;
			}
			
		    @include mq(medium) {
				top: 1500px;
		    }
		    @include mq(largeMed) {
				top: 1500px;
		    }
		    @include mq(x-large) {
				top: 2445px;
		    }
	    }
    }
    .parallaxLeftTop {
		top: 350px;
		top: 113.5vw;
		//top: 1070px;

		@media(max-width: 420px) {
			width: calc(184.69 / 420 * 100%);
			top: 150.5vw;
		}
		
		@media (min-width: 421px) and (max-width: 739px) {
			width: calc(114 / 320 * 100%);
		}
		
	    @include mq(medium) {
			top: 1070px;
			//width: 45.947917%;
	    }
	    @include mq(largeMed) {
			top: 1070px;
		}
	    @include mq(large) {}
	    @include mq(x-large) {
			top: 1705px;
	    }
	    &.second {
			//top: 1750px;
			top: 570px;
			top: 178vw;
			
			@media(max-width: 420px) {
				top: 236vw;
			}
			
		    @include mq(medium) {
				top: 1750px;
		    }
				@include mq(largeMed) {
		    		top: 1750px;
		    }
		    @include mq(x-large) {
					top: 2845px;
		    }
	    }
    }
    .parallaxRight {
		@media(max-width: 420px) {
			left: auto;
			margin: 0;
			right: 0;
			width: calc(186.33 / 420 * 100%);
			top: 55vw;
		}
		
		@media (min-width: 421px) and (max-width: 739px) {
			top: 134.6px;
			top: 46vw;
			left: calc(131 / 320 * 100%);
			margin: 0;
		}

		@include mq(medium) {
			top: 320px;
			//width: 43.02%;
			//left: 0;
			//margin: auto;
	    }

	    @include mq(largeMed) {
			top: 320px;
	    }
	    @include mq(x-large) {
			top: 510px;
		}
		&.second {
			//top: 1750px;
			top: 610px;
			//top: 190.5vw;
			top: 193.5vw;

			@media(max-width: 420px) {
				width: calc(185.84 / 420 * 100%);
				top: 251.5vw;
			}
			
			@media (min-width: 421px) and (max-width: 739px) {
				width: calc(112.99/320 * 100%);
			}
			  
			@include mq(medium) {
				top: 1750px;
			}

			@include mq(largeMed) {}

		    @include mq(x-large) {
				top: 2860px;
			}
		}
	  }
	  .parallaxLeftMid {
		width: calc(246.03 / 420 * 100%);
    	top: 10vw;

		@media (min-width: 421px) and (max-width: 739px) {
			top: 5vw;
			width: calc(149.58 / 320 * 100%);
		}

	    @include mq(medium) {
			top: 0;
			width: 39.8%;
		}
	    @include mq(largeMed) {}
	    @include mq(x-large) {}
	  }
	.parallaxDeep {
		top: 304px;
		top: 99vw;

		@media(max-width: 420px) {
			width: 100%;
			top: 123vw;
		}
		
		@media (min-width: 421px) and (max-width: 739px) {
			width: calc(261.95 / 320 * 100%);
			margin-right: 0;
		}

		@include mq(medium) {
			top: 855px;
		}
		@include mq(largeMed) {
			top: 855px;
		}
		@include mq(x-large) {
			top: 1385px;
		}
		&.second {
			top: 736px;
			top: 231.5vw;

			@media(max-width: 420px) {
				top: 301.5vw;
			}
			
			@include mq(medium) {
				top: 2030px;
			}
			@include mq(largeMed) {}
			
			@include mq(x-large) {
				top: 3300px;
			}
		}
	}	
  }
  //Section Four
.section-four {
	z-index: 3;

    .section-title {
		top: 52px;
		top: 39vw;
		width: calc(213 / 320 * 100%);
		margin-left: 0;
		left: calc(19.41 / 320 * 100%);

		@media(max-width: 420px) {
			width: calc(206 / 420 * 100%);
			margin-left: calc(76 / 420 * 100%);
			top: 53vw;
		}
		
	    @include mq(medium) {
			top: -60px;
			width: auto;
			margin: auto;
			left: 0;
	    }
	    @include mq(x-large) {
			top: -90px;
		    max-width: 1398px;
		}
    }
    .blob {
		top: 118px;
		top: 53vw;
		z-index: 105;
		right: calc(-36 / 320 * 100%);

		@media(max-width: 420px) {
			width: calc(264.6 / 420 * 100%);
    		top: 62vw;
		}

		@include mq(medium) {
			top: -40px;
			right: -80px;
		}
		@include mq(x-large) {
			top: -70px;
			right: 0;
		}
    }
    .parallaxLeftTop {
		top: 160px;
		top: 64vw;

		@media(max-width: 420px) {
			width: calc(187.62 / 420 * 100%);
			top: 74vw;
		}
		
		@media (min-width: 421px) and (max-width: 739px) {
			width: calc(114.07 / 320 * 100%);
		}
	    
	    @include mq(medium) {
			top: 130px;
			//width: 45.947917%;
		}
	    @include mq(largeMed) {

	    }
	    @include mq(large) {

	    }
		@include mq(x-large) {
			top: 235px;
		}
	    &.second {
			// width: 13%;
			// left: 100px;
			// top: 1330px;
			width: calc(45.73 / 320 * 100%);
			left: calc(29.83 / 320 * 100%);
			top: 590px;
			top: 202vw;

			@media(max-width: 420px) {
				width: calc(75.21 / 420 * 100%);
				left: 4px;
				top: 242vw;
			}

		    @include mq(medium) {
				width: 13%;
				left: 100px;
				top: 1330px;
			}
		    @include mq(largeMed) {}
			@include mq(x-large) {
				top: 2135px;
				left: 163px;
	      	}
	    }
    }
    .parallaxCenterTop {
		//top: 970px;
		top: 430px;
		top: 149.5vw;

		@media(max-width: 420px) {
			width: calc(308.77 / 420 * 100%);
			margin: auto;
			left: 0;
			right: 0;
			top: 173.5vw;
		}
		
	    @include mq(medium) {
			top: 970px;
		}
	    @include mq(largeMed) {}
		@include mq(x-large) {
			top: 1580px;
	    }
    }
	.parallaxDeep {
		top: 255px;
		top: 95vw;

		@media(max-width: 420px) {
			width: 100%;
			margin-right: 0;
		}
		
		@media (min-width: 421px) and (max-width: 739px) {
			width: calc(261.65 / 320 * 100%);
			margin-right: 0;
		}
		
		
		@include mq(medium) {
			top: 170px;
			// width: 100%;
			// margin: auto;
		}
		@include mq(largeMed) {}
		
		@include mq(x-large) {
			top: 500px;
		}
		&.second {
			//top: 1210px;
			top: 535px;
			top: 183.5vw;

			@media(max-width: 420px) {
				width: 100%;
   				top: 222.5vw;
			}
			
			@media (min-width: 421px) and (max-width: 739px) {
				width: calc(251.23 / 320 * 100%);
			}

		    @include mq(medium) {
				top: 1210px;
			}
		    @include mq(largeMed) {}
			@include mq(x-large) {
				top: 2020px;
			}
		}
	}
  } 
  
  //Section Five
  .section-five {
	z-index: 3;

    .section-title {
		//top: -80px;
		top: -34.24px;
		top: 7.3vw;

		@media(max-width: 420px) {
			width: calc(226 / 420 * 97%);
			left: calc(56 / 420 * 100%);
			top: 8.5vw;
			margin: 0;
		}
		
		@media (min-width: 421px) and (max-width: 739px) {
			width: calc(215 / 320 * 100%);
			margin: 0;
			left: calc(11 / 320 * 96%);
		}

		@include mq(medium) {
			top: -80px;
		}
	    @include mq(largeMed) {}
	    @include mq(x-large) {
			top: -130px;
		}
    }
    .blob {
		top: 1541px;
		right: -20%;
    }
    .parallaxLeftTop {
		//top: 480px;
		top: 235px;
		top: 74vw;

		@media(max-width: 420px) {
			width: calc(172.57 / 420 * 100%);
			top: 80vw;
		}
		
		@media (min-width: 421px) and (max-width: 739px) {
			width: calc(105.11 / 320 * 100%);
		}

	    @include mq(medium) {
			top: 480px;
	    }
	    @include mq(largeMed) {

	    }
	    @include mq(large) {

	    }
	    @include mq(x-large) {
				top: 715px;
	    }
	    &.second {
	      top: 11400px;
		    z-index: 1;
	    }
    }
    .parallaxRight {
		top: 305px;
		top: 95.5vw;

		@media(max-width: 739px) {
			width: calc(105.05 / 320 * 100%);
			right: calc(75 / 320 * 100%);
			margin-right: 0;
		}

		@include mq(medium) {
			top: 855px;
		}
		
	    @include mq(x-large) {
			top: 1485px;
	    }
	    
	    &.first {
			right: calc(85 / 320 * 100%);
			margin-right: 0;
			top: 80px;
			top: 25vw;
			width: calc(86 / 320 * 100%);

			
			@media(max-width: 420px) {
				width: calc(141 / 420 * 100%);
				right: 0;
				top: 28vw;
			}

		    @include mq(medium) {
				width: 20.02%;
				right: 60px;
		    	top: 120px;
			}
		    @include mq(largeMed) {}
		    @include mq(x-large) {
				top: 145px;
				right: 110px;
			}
	    }
	    &.second {
			//top: 690px;
			top: 300.8px;
			top: 94vw;

			@media(max-width: 420px) {
				width: calc(172.53 / 420 * 100%);
				right: 0;
				top: 107vw;
			}

		    @include mq(medium) {
				top: 690px;
		    }
		    @include mq(largeMed) {}
		    @include mq(x-large) {
				top: 1075px;
		    }
	    }
	    &.third {
			//top: 1530px;
			top: 739.2px;
			top: 226vw;

			@media(max-width: 420px) {
				right: 0;
				width: calc(171.15 / 420 * 100%);
				top: 236vw;
			}

		    @include mq(medium) {
				top: 1530px;
		    }
		    @include mq(largeMed) {}
		    @include mq(x-large) {
				top: 2450px;
		    }
	    }
    }
    .parallaxCenterTop {
		//top: 1310px;
		top: 597px;
		top: 182.5vw;
		width: calc(173.87 / 320 * 100%);

		@media(max-width: 420px) {
			width: calc(285.64 / 420 * 100%);
			margin: auto;
			left: 0;
			right: 0;
			top: 219.5vw;
		}
		
		@include mq(medium) {
			top: 1310px;
			width: 50.1041666666667%; /*962/1920*/
		}
	    @include mq(largeMed) {}
	    @include mq(x-large) {
				top: 2120px;
	    }
    }
	.parallaxDeep {
		top: 146px;
		top: 45.7vw;

		@media(max-width: 420px) {
			width: 100%;
			top: 44.5vw;
		}
		
		@media (min-width: 421px) and (max-width: 739px) {
			width: calc(250.47 / 320 * 100%);
			margin-right: 0;
		}
	
	    @include mq(medium) {
			top: 175px;
			// margin: auto;
			// width: 100%;
		}

		@include mq(largeMed) {}
		
	    @include mq(x-large) {
			top: 230px;
		}
		&.second {
			//top: 730px;
			top: 418px;
			top: 128.5vw;

			@media(max-width: 420px) {
				top: 150.5vw;
			}

		    @include mq(medium) {
				top: 730px;
			}
		    @include mq(largeMed) {}
		    @include mq(x-large) {
				top: 1160px;
			}
		}
		&.third {
			//top: 2100px;
			top: 883px;
			top: 271vw;

			@media(max-width: 420px) {
				top: 308vw;
			}

			@include mq(medium) {
				top: 2100px;
			}
		    @include mq(largeMed) {}
		    @include mq(x-large) {
				top: 3380px;
			}
		}
	}
		.parallaxLeftMid {
			//top: 1530px;
			top: 640px;
			top: 195vw;
			width: calc(149.4 / 320 * 100%);

			@media(max-width: 420px) {
				top: 244vw;
				width: calc(246.03 / 420 * 100%);
			}

			@include mq(medium) {
				top: 1530px;
				width: 39.8%;
			}
	    	@include mq(largeMed) {}
	    	@include mq(x-large) {
				top: 2455px;
		 	}
		}
  } 
}


@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}


//Using a modernizr class for 3D Parallax
@media(min-width: 740px) {
	.preserve3d {	
		.parallax {
			backface-visibility:hidden;
			perspective: 1px;
			perspective-origin-x: 100%;
			transform-origin-x: 100%;
			-webkit-transform-style: preserve-3d;
			transform-style: preserve-3d;
			-webkit-perspective: 1px;
			-webkit-perspective-origin: center; /* Safari 4-8 */
			perspective-origin: center; 
		  
		  &::-webkit-scrollbar { 
			display: none;  // Safari and Chrome
			}
			&-text-container {
			top: 6670px;	
			transform: translateZ(-1px) scale(2);
		  }
			&__group {
			-webkit-transform-style: preserve-3d;
			transform-style: preserve-3d;
			}
			&__layer {
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			-webkit-transform-style: preserve-3d;
			transform-style: preserve-3d;
			-ms-transform-style: none !important;
		
			&.section-title {
				transform: translateZ(-2px) scale(3);
					svg {
						-webkit-backface-visibility: hidden;
					}
			}
			&.parallaxCenterTop {
				-webket-transform: translateZ(-1px) scale(2);
				transform: translateZ(-1px) scale(2);	    
			}
			&.parallaxLeftTop {
					  left: -794px;
				transform: translateZ(-2px) scale(3);
				@include mq(x-large) {
						  left: -1310px;
				  }
			  }
			&.parallaxRight {
				transform: translateZ(-3px) scale(4);
				position: absolute;
				@include mq(medium) {
					transform: translateZ(-3px) scale(4) translateX(86%);
				}
			  }
			  &.parallaxLeftMid {
				width: 60%; /*770/1920*/
				left: -294px;
				  transform: translateZ(-3px) scale(4);
				  @include mq(medium) {
					  width: 39.8%;
					  left: -890px;
				  }
				  @include mq(large) {
					  left: -1170px;
				  }
				@include mq(x-large) {
					  left: -1700px;
				  }
			  }
			&.parallaxLeftDeep {
				transform: translateZ(-5px) scale(6);
			  }
			  &.parallaxDeep {
				transform: translateZ(-4px) scale(5);
				//z-index:-1;
			  }
			  
			  &.blob {
					
				  
				  &-first {
					 transform: translateZ(-1px) scale(2);
					 top: 180px;
					@include mq(largeMed) {
						 top: 600px;
						 right: -31%;
					  }
					@include mq(large) {
						 top: 420px;
						 right: -24%;
					  }
					@include mq(x-large) {
						 top: 980px;
						}
				  }
			  }
			}
			//Section One
		  .section-one {
			  top: -180px;
			@include mq(medium) {
				top: -330px;
			}
			@include mq(largeMed) {
				  top: -230px;
				  @media (max-height: 850px){
					  top: -30px;
					}
		
			  }
			@include mq(large) {
				min-height: 4830px;
			  }
			@include mq(x-large) {
				min-height: 8100px;
				  top: -100px;
			  }
			  z-index: 1;
			.section-title {
				top: 470px;
				@include mq(medium) {
					max-width: 490px;
					top: 390px;
				  }
				@include mq(largeMed) {
					top: 1145px;
					max-width: 920px;
				}
				@include mq(x-large) {
					max-width: 1440px;
					top: calc(794px * 3);
				}
			}
			.parallaxCenterTop {
				&:last-of-type {
					top: 8170px;
					@include mq(x-large) {
						top: -570px;
					}
				}
			}
			.parallaxLeftTop {
				transform: translateZ(-2px) scale(3);		    
				width: 52%;
				left: -145px;
				top: 1240px;
				@include mq(medium) {
					left: -420px;
					top: 1070px;
					width: 32%;
				  }
				@include mq(largeMed) {
					top: 2480px;
					left: -700px;
				  }
				@include mq(large) {
						left: -840px;	    
				}
				@include mq(x-large) {
					width: 29.9479166666667%; /*575/1920*/
					top: 5820px;
						  left: -1310px;
				  }
		
			  }
			.parallaxRight {
				top: 1110px;
				z-index: 100;
					@include mq(medium) {
					top: 680px;
				}
					@include mq(largeMed) {
						top: 2160px;
					}
				@include mq(x-large) {
					top: calc(2780px * 1.5);
				}
			  }
			.parallaxLeftDeep {
				top: -150px;
				left: -390px;
					@include mq(medium) {
						left: -790px;
						top: -690px;
				}
					@include mq(largeMed) {
						top: 250px;
					left: -1470px;
				}
				@include mq(large) {
					left: -1930px;
					}
				@include mq(x-large) {
					top: 1940px;
					left: -2865px;
				  }
			  }
				.parallaxDeep {
					top: 1690px;
					@include mq(medium) {
						top: 1080px;
					}
					@include mq(largeMed) {
						top: 3180px;
					}
				@include mq(x-large) {
					top: calc(910px * 6);
				}
			  }
				
		  }
		  
			//Section Two
		  .section-two {
			  @include mq(large) {
					  min-height: 4960px;
			  }
			  @include mq(x-large){
				  min-height: 6980px;
			  }
			.section-title {
				top: 2843px;
				transform: translateZ(-1px) scale(2);

				@include mq(medium) {
					top: 1230px;
				  }
				@include mq(largeMed) {
					top: 3680px;
				  }
				@include mq(x-large) {
					top: calc(940px * 6);
				}
			}
			.parallaxCenterTop {
				top: 430px;
				@include mq(medium) {
						top: -710px;
				}
				@include mq(largeMed) {
					top: -510px;
				}
				@include mq(x-large) {
						top: -406px;
				}
			}
			.parallaxLeftTop {
				top: 5820px;
			}
			.parallaxRight {
				top: 1040px;
				@include mq(medium){
					top: 380px;
				}
				@include mq(largeMed) {
					   top: 1090px;
				}
				@include mq(x-large) {
					top: 2380px;
				  }
			  }
			  .parallaxLeftMid {
				transform: translateZ(-4px) scale(5);
				  top: 1274px;
				  left: -324px;
				  width: 66.8%;
				@include mq(medium) {
					top: 650px;
					width: 39.8%; /*770/1920*/
					  left: -700px;
				  }
				@include mq(largeMed) {
					  left: -1180px;
				  }
				@include mq(large) {
					  left: -1550px;
				  }
				@include mq(x-large) {
						  top: 1900px;
						  left: -2300px;
				  }
			  }
				.parallaxDeep {
				transform: translateZ(-4px) scale(5);
					top: 2440px;
					@include mq(medium) {
						top: 1450px;
					}
				@include mq(largeMed) {
						top: 3260px;
					}
				@include mq(x-large) {
					top: 4250px;
				}
			  }
				
					  
				
		  }
		  
			//Section Three
		  .section-three {
				@include mq(large) {
					min-height: 9597px;
				}
				@include mq(x-large){
					min-height: 15360px;
				}
			.section-title {
				top: 3790px;
				transform: translateZ(-1px) scale(2);
				@include mq(x-large) {
					top: calc(800px * 4);
				}
			}
			.parallaxCenterTop {
				top: 80px;
				@include mq(medium) {
					top: -280px;
				  }
				@include mq(largeMed) {
						top: 1180px;
				}
				@include mq(x-large) {
					top: 1390px;
				}
				&.second {
					top: 3400px;
					@include mq(medium) {
							top: 2710px;
					}
					@include mq(largeMed) {
							top: 5560px;
					}
					@include mq(x-large) {
						top: 9360px;
					}
				}
			}
			.parallaxLeftTop {
				top: 2800px;
				left: -205px;
				@include mq(medium) {
					top: 2260px;
					left: -405px;
				}
				@include mq(largeMed) {
					top: 4810px;
					left: -690px;
				  }
				@include mq(large) {
					left: -911px;
				  }
				@include mq(x-large) {
					top: 7410px;
					left: -1350px;
				}
				&.second {
					top: 3940px;
					@include mq(medium) {
							top: 3270px;
					}
						@include mq(largeMed) {
							top: 6730px;
					}
					@include mq(x-large) {
						top: 10580px;
					}
				}
			}
			.parallaxRight {
				top: 1270px;
				@include mq(medium) {
						top: 590px;
				}
				@include mq(largeMed) {
						top: 1090px;
				}
				@include mq(x-large) {
					top: 3030px;
				  }
				  &.second {
					  top: 4040px;
						@include mq(medium) {
							 top: 3680px;
						}
						@include mq(largeMed) {
							top: 7180px;
					}
					@include mq(x-large) {
						top: 10065px;
					  }
				  }
			  }
			  .parallaxLeftMid {
				  top: 635px;
				  left: -230px;
				@include mq(medium) {
					  left: -530px;
				  }
				@include mq(largeMed) {
					  top: 1080px;
					  left: -885px;
				  }
				  @include mq(large) {
					  left: -1175px;
				  }
				@include mq(x-large) {
					left: -1720px;
						  top: 1970px;
				  }
			  }
			.parallaxDeep {
				transform: translateZ(-4px) scale(5);
				top: 2245px;
				@include mq(medium) {
					top: 1900px;
				}
				@include mq(largeMed) {
					top: 4080px;
				}
				@include mq(x-large) {
					top: 6140px;
				  }
				&.second {
					top: 5170px;
						@include mq(medium) {
							top: 4110px;
					}
					@include mq(largeMed) {
							top: 7790px;
					}
					@include mq(x-large) {
						top: 12420px;
					}
				}
			  }	
		  }
		  //Section Four
		  .section-four {
			  @include mq(large) {
					  min-height: 7960px;
			  }
			  @include mq(x-large){
				  min-height: 14662px;
			  }
			.section-title {
				transform: translateZ(-1px) scale(2);
				top: 310px;
				@include mq(largeMed) {
					top: 440px;
				}
				@include mq(x-large) {
					top: 1206px;
					max-width: 1398px;
				  }
			}
			.blob {
					 transform: translateZ(-1px) scale(2);
					 top: 480px;
					 right: -40%;
				   @include mq(largeMed) {
						 top: 600px;
						 right: -20%;
					 }
				   @include mq(x-large) {
						 top: 1541px;
					 }
			}
			.parallaxLeftTop {
				transform: translateZ(-3px) scale(4);
				left: -306px;
				top: 1280px;
				@include mq(medium) {
					top: 810px;
					left: -600px;
					}
				@include mq(largeMed) {
					top: 1540px;
					left: -1035px;
				}
				@include mq(large) {
					left: -1355px;
				}
					@include mq(x-large) {
					top: 3309px;
					left: -2020px;
					}
				&.second {
					z-index: 1;
					transform: translateZ(-3px) scale(3);
					top: 3980px;
					left: -437px;
					width: 32%;
					@include mq(medium) {
							top: 3260px;
							left: -566px;
							width: 13%;
						}
					@include mq(largeMed) {
						top: 6120px;
						left: -960px;
					  }
					@include mq(large) {
						left: -1140px;
					  }
						@include mq(x-large) {
						transform: translateZ(-3px) scale(4);
						  top: 11400px;
						left: -1854px;
				  }
				}
			}
			.parallaxCenterTop {
				z-index: 100;
				top: 2930px;
				@include mq(medium) {
					top: 1580px;
				  }
				@include mq(largeMed) {
					top: 4251px;
				  }
					@include mq(x-large) {
					top: 8480px;
				}
			}
				.parallaxDeep {
					top: 2095px;
				@include mq(medium) {
						top: 1425px;
					}
				@include mq(largeMed) {
						top: 2422px;
					}
					@include mq(x-large) {
						top: 4192px;
					}
					&.second {
					top: 4034px;
					@include mq(medium) {
							top: 3380px;
						}
					@include mq(largeMed) {
							top: 6200px;
						}
						@include mq(x-large) {
							top: 11820px;
						}
					}
				}
		  } 
		  
		  //Section Five
		  .section-five {
			  @include mq(large) {
					min-height: 10900px;
			  }
			  @include mq(x-large){
				  min-height: 16100px;
			  }
			.section-title {
				transform: translateZ(-1px) scale(2);
				top: 206px;

				@include mq(largeMed) {
					top: 80px;
				}
				@include mq(x-large) {
					top: -115px;
				}
			}
			.blob {
					 transform: translateZ(-1px) scale(2);
					 top: 1541px;
					 right: -20%;
			}
			.parallaxLeftTop {
				transform: translateZ(-3px) scale(4);
				left: -305px;
				top: 2610px;
				@include mq(medium) {
					top: 1750px;
					left: -600px;
				}
				@include mq(largeMed) {
					top: 3339px;
					left: -1035px;
				}
				@include mq(large) {
					left: -1353px;
				}
				@include mq(x-large) {
					top: 5069px;
					left: -2020px;
				}
				&.second {
				  top: 11400px;
					z-index: 1;
				}
			}
			.parallaxRight {
				top: 855px;
				@include mq(x-large) {
						top: 1485px;
				}
				
				&.first {
					right: 0;
					width: 38.02%;
					top: 620px;
					@include mq(medium) {
						top: 650px;
						right: -295px;
						width: 20.02%;
					  }
					@include mq(largeMed) {
							  top: 855px; 
						right: -380px;
					  }
					@include mq(x-large) {
						width: 30.02%;
							right: 240px;
						}
				}
				&.second {
					top: 3420px;
					@include mq(medium) {
							top: 2200px;
					}
					@include mq(largeMed) {
							top: 4560px;
					}
					@include mq(x-large) {
						top: 6720px;
					}
				}
				&.third {
					top: 6750px;
					@include mq(medium) {
							top: 4090px;
					}
					@include mq(largeMed) {
							top: 8400px;
					}
					@include mq(x-large) {
						top: 13332px;
					}
				}
			}
			.parallaxCenterTop {
				top: 6100px;
				@include mq(medium) {
					top: 3100px;
				}
				@include mq(largeMed) {
						top: 7460px;
				}
				@include mq(x-large) {
					top: 11980px;
				}
				z-index: 1;
			}
				.parallaxDeep {
					top: 1430px;
				@include mq(medium) {
						top: 1030px;
					}
				@include mq(largeMed) {
						top: 1830px;
					}
				@include mq(x-large) {
						top: 2876px;
					}
					&.second {
						top: 4140px;
					@include mq(medium) {
							top: 2570px;
						}
					@include mq(largeMed) {
							top: 4830px;
						}
					@include mq(x-large) {
							top: 7700px;
						}
					}
					&.third {
						top: 8130px;		
						z-index: -1;		
						@include mq(medium) {
							z-index: 0;
							top: 4675px;
							transform: translateZ(-1px) scale(2);
						}
					@include mq(largeMed) {
							top: 10086px;
						}
					@include mq(x-large) {
							top: 15086px;
						}
					}
				}
				.parallaxLeftMid {
					left: -225px;
					top: 6100px;
				@include mq(medium) {
						left: -515px;
						top: 4180px;
					}
				@include mq(largeMed) {
						top: 8690px;
						left: -890px;
					}
				@include mq(large) {
						left: -1180px;
					}
				@include mq(x-large) {
						top: 13670px;	
						left: -1720px;
				  }
				}
		  } 
		}
		
	}
}



