.parallax {
	backface-visibility:hidden;
	perspective: 1px;
  height: calc(100vh - 30px);
  overflow-x: hidden;
  overflow-y: scroll;
  
  text-align: center;
  font-size: 40px;
  perspective-origin-x: 100%;
  transform-origin-x: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-perspective: 1px;
  opacity: 0;
  transition: opacity ease-out 0.6s;
  
  -webkit-perspective-origin: center; /* Safari 4-8 */
  perspective-origin: center; 
  
  &::-webkit-scrollbar { 
    display: none;  // Safari and Chrome
	}
  @include mq(medium) {
	  height: calc(100vh - 84px);
	}
  @include mq(x-large) {
	  height: calc(100vh - 90px);
	}
  
  img {max-width: 100%; width: auto;}
  video{ max-width: 100%; width: auto; height: auto;}
  
	&.in {
		opacity: 1;
	}
	&-text-container {
		position: relative;
    z-index: 10;
    max-width: 980px;
    margin: 0 auto;
    top: 6670px;	
    transform: translateZ(-1px) scale(2);
    ul {
	    position: absolute;
	    width: 100%;
	    margin: 0;
	    li {
		    list-style: none;
		    height: calc(380vh);
		    color: #2AFD99;
		    line-height: 80px;
		    text-align: left;
		    font-size: 82px;
		    letter-spacing: 2px;
		    position: relative;
	    }
    }
  }
	&__group {
		position: relative;
		max-width: 100%;
    margin: 0 auto;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    margin: 0 auto;
    @include mq(medium) {
			max-width: 585px;
	  }
    @include mq(largeMed) {
	    max-width: 990px;
    }
    @include mq(large) {
	    max-width: 1180px;
	  }
    @include mq(x-large) {
	    max-width: 1920px;
	  }

	}
	&__layer {
		position: absolute;
    top: 0;
    right: 0;
    left: 0;
    color: #CE1719;
    margin: auto;
    background: rgba(0,0,0,0.05);
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: none !important;


    &.load {
	    background: transparent;
		  transition: background-color 0.5s ease;
    }
    * {opacity: 0;}
    &.section-title {
	    background: transparent;
	    opacity: 0;
	    max-width: 1510px;
	    z-index: 100;
	    svg {
		    width: 100%;
		    height: auto;
	    }
	    &.load {
		    opacity: 1;
	    }
    }
    &.load {
	    background: transparent;
	    * {
				opacity: 1;
			  animation: fadeIn ease 300ms;
			  -webkit-animation: fadeIn ease 300ms;
			  -moz-animation: fadeIn ease 300ms;
			  -o-animation: fadeIn ease 300ms;
			  -ms-animation: fadeIn ease 300ms;
	    }
    }
    
    &.section-title {
	    text-align: center;
		  	left: 0;
		  	right: 0;
		  	color: black;
		  	font-size: 75px;
	    letter-spacing: 28px;
	    transform: translateZ(-2px) scale(3);
			position: absolute;
			max-width: 90%;
			text-transform: uppercase;
	    @include mq(medium) {
				max-width: 970px;
		  }
	    @include mq(x-large) {
			  	font-size: 170px;
			  	max-width: 1503px;
			  	width: 100%;
		  }
			h2 {
				margin: 0;
			}
			svg {
				-webkit-backface-visibility: hidden;
			}
    }
    &.parallaxCenterTop {
	    -webket-transform: translateZ(-1px) scale(2);
	    transform: translateZ(-1px) scale(2);	    
	    width: 59.104167%;
	    left: auto;
	    right: 0;
	    z-index: 2;
	    @include mq(medium) {
		    left: 0;
		    width: 50.1041666666667%; /*962/1920*/
	    }
    }
    &.parallaxLeftTop {
	  	right: auto;
	  	left: -794px;
    position: absolute;
    width: 29.9479166666667%; /*575/1920*/
    transform: translateZ(-2px) scale(3);
    z-index: 50;
	    @include mq(x-large) {
			  	left: -1310px;
		  }
	  }
    &.parallaxRight {
	    text-align: right;
		  	left: auto;
		  	right: 0;
	    transform: translateZ(-3px) scale(4) translateX(86%);
	    position: absolute;
	    width: 30.02%; /*582/1920*/
	    right: 100%;
	    @include mq(medium) {
			  	right: 0;
		  }
	  }
	  &.parallaxLeftMid {
	    right: auto;
	    width: 39.8%; /*770/1920*/
	    left: -890px;
		  transform: translateZ(-3px) scale(4);
		  @include mq(large) {
			  left: -1170px;
		  }
	    @include mq(x-large) {
		  	left: -1700px;
		  }
	  }
    &.parallaxLeftDeep {
	    right: auto;
	    transform: translateZ(-5px) scale(6);
	    width: 40.1041666666667%; /*770/1920*/
	    left: -560px;
      @include mq(medium) {
	    		left: -875px;
	    }
      @include mq(largeMed) {
	    		left: calc(-675px * 5);
	    }
	  }
	  &.parallaxDeep {
	    transform: translateZ(-4px) scale(5);
	    right: -150px;
	    left: auto;
	    width: 80.052083%;
	    z-index:-1;
      @include mq(medium) {
		    width: 70.0520833333333%; /*1345/1920*/
				right: 0;
				left: 0;	
			}
	  }
	  
	  &.blob {
		  
			  -webkit-animation: blurHue 3s infinite;
			
			@-webkit-keyframes blurHue {
			  0%, 100%  { -webkit-filter: blur(0px); -webkit-filter: hue-rotate(0deg); }
			  50% { -webkit-filter: blur(10px);  -webkit-filter: hue-rotate(180deg); }
			}
			
		  
		  &-first {
			 right: -24%;
			 left: auto; 
			 top: 210px;
			 transform: translateZ(-1px) scale(2);
		   width: 52.6041666666667%; /*1010/1920*/
		   	@include mq(medium) {
			   	top: 20px;
		   	}
		    @include mq(largeMed) {
				 top: 600px;
				 right: -31%;
			  }
		    @include mq(large) {
				 top: 420px;
				 right: -24%;
			  }
		    @include mq(x-large) {
				 top: 980px;
				}
		  }
	  }
	}
	//Section One
  .section-one {
	  top: -180px;
    @include mq(medium) {
	  		top: -330px;
	  }
    @include mq(largeMed) {
		  top: -230px;
		  @media (max-height: 850px){
			  top: -30px;
			}

	  }
    @include mq(x-large) {
		  top: -100px;
	  }
	  z-index: 1;
    .section-title {
	    top: 370px;
	    @include mq(medium) {
		    max-width: 490px;
		    top: 390px;
		  }
	    @include mq(largeMed) {
		    	top: 1180px;
		    	max-width: 920px;
	    	}
	    @include mq(x-large) {
		  max-width: 1440px;
	    	top: calc(794px * 3);
			}
    }
    .parallaxCenterTop {
	    &:last-of-type {
	    	top: 8170px;
		    @include mq(x-large) {
		    	top: -570px;
		    }
	    }
    }
    .parallaxLeftTop {
	    transform: translateZ(-2px) scale(3);
	    width: 32%;
	    left: -135px;
	    top: 1070px;
	    @include mq(medium) {
		    left: -420px;
		  }
	    @include mq(largeMed) {
		    top: 2480px;
		    left: -700px;
		  }
	    @include mq(large) {
	    		left: -840px;	    
	    }
	    @include mq(x-large) {
		    width: 29.9479166666667%; /*575/1920*/
		    top: 5820px;
			  	left: -1310px;
		  }

	  }
    .parallaxRight {
	    top: 840px;
	    	@include mq(medium) {
		    top: 680px;
	    }
	    	@include mq(largeMed) {
				top: 2160px;
			}
	    @include mq(x-large) {
		    top: calc(2780px * 1.5);
	    }
	  }
    .parallaxLeftDeep {
	    top: -210px;
	    	@include mq(medium) {
				top: -690px;
	    }
	    	@include mq(largeMed) {
		    	top: 250px;
		    left: -1470px;
	    }
	    @include mq(large) {
	    	left: -1930px;
			}
	    @include mq(x-large) {
		    top: 1940px;
		    left: -2865px;
		  }
	  }
		.parallaxDeep {
			top: 1290px;
	    	@include mq(medium) {
				top: 1080px;
			}
	    	@include mq(largeMed) {
	    		top: 3180px;
	    	}
	    @include mq(x-large) {
	    	top: calc(910px * 6);
	    }
	  }
		
  }
  
	//Section Two
  .section-two {
	  z-index:2;
    .section-title {
	    top: 810px;
	    transform: translateZ(-1px) scale(2);
	    @include mq(medium) {
		    top: 1230px;
		  }
	    @include mq(largeMed) {
		    top: 3700px;
		  }
	    @include mq(x-large) {
		    top: calc(940px * 6);
		  }
    }
    .parallaxCenterTop {
	    top: -510px;
	    @include mq(medium) {
	    		top: -710px;
	    }
	    @include mq(largeMed) {
		    top: -510px;
	    }
	    @include mq(x-large) {
		    	top: -406px;
	    }
    }
    .parallaxLeftTop {
	    top: 5820px;
    }
    .parallaxRight {
	    top: 380px;
	    @include mq(largeMed) {
	   		top: 1090px;
	    }
	    @include mq(x-large) {
		    top: 2380px;
		  }
	  }
	  .parallaxLeftMid {
	    transform: translateZ(-4px) scale(5);
		  top: 650px;
		  left: -413px;
		  width: 44.8%;
	    @include mq(medium) {
		    width: 39.8%; /*770/1920*/
			  left: -700px;
		  }
	    @include mq(largeMed) {
			  left: -1180px;
		  }
	    @include mq(large) {
			  left: -1550px;
		  }
	    @include mq(x-large) {
			  	top: 1900px;
			  	left: -2300px;
		  }
	  }
		.parallaxDeep {
	    transform: translateZ(-4px) scale(5);
			top: 1450px;
	    @include mq(largeMed) {
				top: 3260px;
			}
	    @include mq(x-large) {
		    top: 4250px;
	    }
	  }
		
			  
		
  }
  
	//Section Three
  .section-three {
	  z-index:3;
    .section-title {
	    top: 3790px;
	    transform: translateZ(-1px) scale(2);
	    @include mq(x-large) {
		    top: calc(800px * 4);
		  }
    }
    .parallaxCenterTop {
	    top: -280px;
	    @include mq(largeMed) {
	    		top: 1180px;
	    }
	    @include mq(x-large) {
	    	top: 1390px;
	    }
	    &.second {
		    top: 1520px;
		    @include mq(medium) {
		    		top: 2710px;
		    }
		    @include mq(largeMed) {
		    		top: 5560px;
		    }
		    @include mq(x-large) {
			    top: 9360px;
		    }
	    }
    }
    .parallaxLeftTop {
	    top: 1260px;
	    left: -265px;
	    @include mq(medium) {
		    top: 2260px;
		    left: -405px;
	    }
	    @include mq(largeMed) {
		    top: 4810px;
		    left: -690px;
		  }
	    @include mq(large) {
		    left: -911px;
		  }
	    @include mq(x-large) {
		    top: 7410px;
		    left: -1350px;
	    }
	    &.second {
		    top: 1900px;
		    @include mq(medium) {
		    		top: 3270px;
		    }
				@include mq(largeMed) {
		    		top: 6730px;
		    }
		    @include mq(x-large) {
			    top: 10580px;
		    }
	    }
    }
    .parallaxRight {
	    top: 590px;
	    @include mq(largeMed) {
	    		top: 1090px;
	    }
	    @include mq(x-large) {
		    top: 3030px;
		  }
		  &.second {
			  top: 2320px;
				@include mq(medium) {
			 		top: 3680px;
				}
				@include mq(largeMed) {
		    		top: 7180px;
		    }
		    @include mq(x-large) {
			    top: 10065px;
			  }
		  }
	  }
	  .parallaxLeftMid {
		  top: 80px;
		  left: -340px;
	    @include mq(medium) {
			  left: -530px;
		  }
	    @include mq(largeMed) {
			  top: 1080px;
			  left: -890px;
		  }
	    @include mq(x-large) {
			  	top: 1970px;
		  }
	  }
		.parallaxDeep {
	    transform: translateZ(-4px) scale(5);
	    top: 1215px;
	    @include mq(medium) {
				top: 1900px;
			}
	    @include mq(largeMed) {
				top: 4080px;
		  }
	    @include mq(x-large) {
		    top: 6140px;
		  }
	    &.second {
		    top: 3080px;
				@include mq(medium) {
		    		top: 4110px;
		    }
		    @include mq(largeMed) {
		    		top: 7790px;
		    }
		    @include mq(x-large) {
			    top: 12420px;
		    }
	    }
	  }	
  }
  //Section Four
  .section-four {
	  z-index: 3;
    .section-title {
	    transform: translateZ(-1px) scale(2);
	    top: -200px;
	    @include mq(largeMed) {
		    top: 460px;
	    }
	    @include mq(x-large) {
		    top: 1206px;
		    max-width: 1398px;
		  }
    }
    .blob {
			 transform: translateZ(-1px) scale(2);
			 top: -120px;
			 right: -40%;
		   @include mq(largeMed) {
				 top: 600px;
				 right: -20%;
			 }
		   @include mq(x-large) {
				 top: 1541px;
			 }
    }
    .parallaxLeftTop {
	    transform: translateZ(-3px) scale(4);
	    left: -390px;
	    top: 470px;
	    @include mq(medium) {
		    top: 810px;
		    left: -600px;
			}
	    @include mq(largeMed) {
		    top: 1540px;
		    left: -1035px;
	    }
	    @include mq(large) {
		    left: -1355px;
	    }
			@include mq(x-large) {
		    top: 3309px;
		    left: -2020px;
			}
	    &.second {
		    z-index: 1;
		    transform: translateZ(-3px) scale(3);
		    top: 2440px;
		    @include mq(medium) {
		    		top: 3120px;
				}
		    @include mq(largeMed) {
			    top: 6120px;
			  }
				@include mq(x-large) {
			    transform: translateZ(-3px) scale(4);
	      		top: 11400px;
	      }
	    }
    }
    .parallaxCenterTop {
	    z-index: 1;
	    top: 1040px;
	    @include mq(medium) {
		    top: 1580px;
		  }
	    @include mq(largeMed) {
		    top: 4251px;
		  }
			@include mq(x-large) {
		    top: 8480px;
	    }
    }
		.parallaxDeep {
			top: 995px;
	    @include mq(medium) {
				top: 1425px;
			}
	    @include mq(largeMed) {
				top: 2422px;
			}
			@include mq(x-large) {
				top: 4192px;
			}
			&.second {
		    top: 2464px;
		    @include mq(medium) {
					top: 3380px;
				}
		    @include mq(largeMed) {
					top: 6200px;
				}
				@include mq(x-large) {
					top: 11820px;
				}
			}
		}
  } 
  
  //Section Five
  .section-five {
	  z-index: 3;
    .section-title {
	    transform: translateZ(-1px) scale(2);
	    top: -270px;
	    @include mq(largeMed) {
		    top: 100px;
		  }
	    @include mq(x-large) {
		    top: -115px;
		  }
    }
    .blob {
			 transform: translateZ(-1px) scale(2);
			 top: 1541px;
			 right: -20%;
    }
    .parallaxLeftTop {
	    transform: translateZ(-3px) scale(4);
	    left: -395px;
	    top: 1160px;
	    @include mq(medium) {
		    top: 1750px;
		    left: -600px;
	    }
	    @include mq(largeMed) {
		    top: 3339px;
		    left: -1035px;
	    }
	    @include mq(large) {
		    left: -1353px;
	    }
	    @include mq(x-large) {
		    top: 5069px;
		    left: -2020px;
	    }
	    &.second {
	      top: 11400px;
		    z-index: 1;
	    }
    }
    .parallaxRight {
	    top: 855px;
	    @include mq(x-large) {
	    		top: 1485px;
	    }
	    
	    &.first {
		    right: 89%;
		    width: 27.02%;
		    top: 140px;
		    @include mq(medium) {
			    top: 650px;
			    right: -295px;
			    width: 20.02%;
			  }
		    @include mq(largeMed) {
			  		top: 855px; 
			    right: -380px;
			  }
		    @include mq(x-large) {
			    width: 30.02%;
	    			right: 240px;
				}
	    }
	    &.second {
		    top: 1660px;
		    @include mq(medium) {
		    		top: 2200px;
		    }
		    @include mq(largeMed) {
		    		top: 4560px;
		    }
		    @include mq(x-large) {
			    top: 13332px;
		    }
	    }
	    &.third {
		    top: 3920px;
		    @include mq(medium) {
		    		top: 4090px;
		    }
		    @include mq(largeMed) {
		    		top: 8400px;
		    }
		    @include mq(x-large) {
			    top: 13332px;
		    }
	    }
    }
    .parallaxCenterTop {
	    top: 2860px;
	    @include mq(largeMed) {
	    		top: 7460px;
	    }
	    @include mq(x-large) {
		    top: 11980px;
	    }
	    z-index: 1;
    }
		.parallaxDeep {
			top: 740px;
	    @include mq(medium) {
				top: 1030px;
			}
	    @include mq(largeMed) {
				top: 1830px;
			}
	    @include mq(x-large) {
				top: 2876px;
			}
			&.second {
				top: 2380px;
		    @include mq(medium) {
					top: 2570px;
				}
		    @include mq(largeMed) {
					top: 4830px;
				}
		    @include mq(x-large) {
					top: 7700px;
				}
			}
			&.third {
				top: 4385px;		
				z-index: -1;		
				@include mq(medium) {
					z-index: 0;
					top: 4675px;
					transform: translateZ(-1px) scale(2);
				}
		    @include mq(largeMed) {
					top: 10086px;
				}
		    @include mq(x-large) {
					top: 15086px;
				}
			}
		}
		.parallaxLeftMid {
			left: -340px;
			top: 3590px;
	    @include mq(medium) {
				left: -515px;
				top: 4180px;
			}
	    @include mq(largeMed) {
				top: 8690px;
				left: -890px;
			}
	    @include mq(x-large) {
				top: 13670px;	
		  }
		}
  } 
}


@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}
