p {
  margin-top: 0;
  margin-bottom: 15px;
  @include mq(medium) {
    margin-bottom: 60px;
  }
  // @include mq(largeMed) {
  // 	margin-bottom: 100px;
  // }
  @include mq(x-large) {
    margin-bottom: 100px;
  }
}
a {
  color: black;
  transition: 0.3s;
  &:hover,
  &:focus,
  &:active {
    color: black;
  }
}
